ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #bd5d38;
    height: 100%; 
    position: fixed; 
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
}

li{
    color: #cccccc;
    text-align:center;
    margin-bottom: 30px;
    font-size: 30px;
}

li:hover{
    color:#ffffff
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 50%;
}

h1{
    font-size:90px;
    margin-top: 200px;
}

h1,p{
    margin-left: 30%;
    margin-bottom: 5px;
}



p{
    margin-top: 5px;
}

span{
color: #bd5d38;
}