body{
    font-family: Muli, sans-serif;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #bd5d38;
    height: 100%; 
    position: fixed; 
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
}

li.navbar{
    color: #cccccc;
    text-align:center;
    margin-bottom: 30px;
    font-size: 30px;
}

li.navbar:hover{
    color:#ffffff;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 50%;
    border:10px solid #dd754c;
}
h1{
    font-size:90px;
    margin-top: 200px;
}

h1,p{
    margin-left: 30%;
    margin-bottom: 5px;
}



p{
    margin-top: 5px;
}

p.content{
    margin-top: 50px;
}

span{
    color: #bd5d38;
}

ul.icons{
    list-style-type: none;
    margin-left: 27%;
    display:inline;
    
}

li.icons{
   font-size:48px;
   color: r#868e96;
   display:inline;
  
   
}

li.icons:hover{
    color:#bd5d38;
}
i{
    margin-top: 30px;
    margin-right: 20px;
}