ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fd7e14;
    height: 100%; 
    position: fixed; 
    overflow: auto;
}

li{
    color: #cccccc;
}

li:hover{
    color:#ffffff
}